* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;

  width: 1000px;
  height: 400px;
}
.content {
  margin-top: 100px;
  margin-left: 260px;
}
.italic {
  font-size: 20px;
  margin-top: 30px;
  margin-left: 300px;
  display: block;
}

.food {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 430px;
  display: block;
}
.qidiruv {
  margin-left: 280px;
  margin-top: 30px;
  width: 490px;
  border-radius: 20px;
  border: 2px solid rgb(255, 217, 0);
}
.search {
  width: 460px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
}
.fa-solid {
  font-size: 20px;
}
.natija {
  font-size: 28px;
  display: block;
  margin-top: 5px;
  margin-left: 350px;
  color: rgb(255, 145, 0);
}
.sorry {
  font-size: 24px;
  display: block;
  margin-top: 40px;
  margin-left: 360px;
  color: rgb(255, 145, 0);
}

.bigFood {
  width: 100%;
  align-items: center;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  row-gap: 80px;
}

.section {
  width: 28.6%;
  height: 550px;
  box-shadow: 0 0 10px 5px #555;
}
.image1 {
  width: 100%;
}
.nomi {
  font-size: 25px;
  margin-left: 80px;
  margin-top: 10px;
}
.tugma {
  margin-left: 90px;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  border-radius: 40px;
  font-size: 18px;
  color: white;
  background-color: rgb(255, 145, 0);
  border: none;
}

.yakun {
  width: 80%;
  box-shadow: 0 0 10px 5px #555;
  align-items: center;
  margin: 0 auto;
  height: 500px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(255, 145, 0);
}
.nom_va_x {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tarif {
  font-size: 30px;
}
.exit {
  font-size: 25px;
}
.lorem {
  margin-top: 40px;
  font-size: 25px;
  color: rgb(255, 255, 255);
}
