* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: black;
}
.name {
  color: white;
  font-size: 8rem;
  display: flex;

  justify-content: center;
  margin-top: 5rem;
}
.container {
  display: flex;
  padding: 0 10rem;
  width: 90%;
  align-items: center;
  margin: 10rem auto;
  height: 40rem;
  border-radius: 2rem;
  justify-content: space-between;
  background-color: white;
}
.con {
  width: 25rem;
  background-color: rgb(0, 100, 92);
  color: white;
  text-align: center;
  border-radius: 2rem;
}
.cha {
  border-radius: 1rem;
  width: 20rem;
  font-size: 15rem;
  background-color: black;
  margin: 3rem auto;
}
.day {
  font-size: 3rem;
  padding: 1rem;
}
