* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  background-color: rgb(38, 130, 250);
  padding: 30px 70px;
}
.git {
  color: white;
  font-size: 30px;
}
.container {
  width: 90%;
  margin: 40px auto;
  border: 1.5px solid rgb(172, 170, 170);
  padding: 15px;
  height: 200px;
  border-radius: 10px;
}
.content {
  font-size: 34px;
}
.text {
  font-size: 22px;
  margin-top: 10px;
}
.inpu {
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  font-size: 20px;
}
.shu_yer {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  background-color: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
}
.magic {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 22px;
}
