* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  background-color: rgb(38, 130, 250);
  padding: 30px 70px;
}
.git {
  color: white;
  font-size: 30px;
}
.container {
  width: 90%;
  margin: 40px auto;
  border: 1.5px solid rgb(172, 170, 170);
  padding: 15px;
  height: 200px;
  border-radius: 10px;
}
.content {
  font-size: 34px;
}
.text {
  font-size: 22px;
  margin-top: 10px;
}
.inpu {
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  font-size: 20px;
}
.shu_yer {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  background-color: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
}
.magic {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 22px;
}
.prof_and_boshqa {
  width: 90%;
  margin: 40px auto;
  border: 1.5px solid rgb(172, 170, 170);
  padding: 15px;
  height: 450px;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
}

.im {
  width: 300px;
  height: 300px;
}
.tugma {
  display: block;
  justify-content: center;
  display: flex;
  padding: 20px 100px;
  margin-top: 20px;
  background-color: rgb(38, 130, 250);
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.right {
  width: 73%;
}

.malumot {
  display: flex;
  gap: 10px;
}
.mal {
  padding: 10px 30px;
  border-radius: 5px;

  color: white;
}
.i {
  background-color: rgb(38, 130, 250);
}
.j {
  background-color: gray;
}
.k {
  background-color: green;
}
.l {
  background-color: rgb(0, 195, 255);
}

.section {
  margin-top: 30px;
}
.bir {
  border: 1.5px solid rgb(172, 170, 170);
  height: 60px;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 20px;
}
.q {
  border-bottom: none;
}

.reposts {
  font-size: 35px;
  margin-left: 70px;
}
.birinchi {
  width: 90%;
  display: flex;
  margin: 15px auto;
  border: 1.5px solid rgb(172, 170, 170);
  padding: 30px;
  align-items: center;
}

.ism {
  font-size: 23px;
  text-decoration: none;
  color: rgb(38, 130, 250);
}

.ong {
  display: flex;
  gap: 20px;
  margin-left: 500px;
}
.ch {
  font-size: 20px;
  padding: 10px 40px;
  border-radius: 8px;
  color: white;
  font-size: 20px;
}
.z {
  background-color: rgb(38, 130, 250);
}
.x {
  background-color: gray;
}
.p {
  background-color: green;
}
